body{
    background-color: black;
   
}
#logoTech{
width: 50px;
    height: 50px;
    border-radius: 50px;
    
}
#logo{
    width: 50px;
    height: 50px;
    border-radius: 50px; 
}

#ul{
display: flex;
flex-wrap: wrap;
list-style-type: none;
justify-content: space-around;
}

.liNavBar{
font-family:'Mochiy Pop One', sans-serif ;
color: white;
box-shadow: turquoise 4px 4px 4px 4px ;
}
a:link, a:visited {
color: white;
text-decoration-line: none;
}

.lables{
    color: white;
    font-family: 'Mochiy Pop One', sans-serif;
    
}
#title{
    padding: 20px;
    font-size: 50px;
    font-family: 'Mochiy Pop One', sans-serif;
    text-shadow: gray 4px 4px 4px;
    color: white;
    text-align: center;
}
#formDiv{
    width: 70%;
}

input{
    border-radius: 100px;
}

#btn{
 width: 100px;
 margin-left:180px ;
 margin-top: 20px;
 background-color: honeydew;
 border-radius: 100px;
}


#form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 45%;
}

#footerLi{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    
}


footer{
    direction: rtl;
    background-color: black;
    color:white;
    width: 97vw;
}

footer a img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 200px;
}
